body {
  background-color: #121219;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.input-group-text {
  color: #fff;
}

span {
  background-image: linear-gradient(
    45deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
}

span:hover {
  cursor: pointer;
  background-image: linear-gradient(
    75deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
}

.img-container {
  columns: 4;
}

@media only screen and (max-width: 768px) {
  .img-container {
    columns: 2;
  }
}

@media only screen and (max-width: 576px) {
  .img-container {
    columns: 1;
  }
}

.col {
  margin-bottom: 1em;
}

hr {
  color: #030303;
  height: 10px;
  max-width: 300px;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #fff;
  background-color: #9933ff;
  border-color: #9933ff;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: none;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

.btn-outline-primary {
  color: #9933ff;
  border-color: #9933ff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #9933ff;
  border-color: #9933ff;
}

.modal-title {
  background-color: transparent;
  color: #fff;
}

.modal-header {
  background-image: linear-gradient(
    75deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
}

.modal-footer {
  background-color: rgb(197, 197, 197);
}

.btn-info {
  color: #fff;
  background-image: linear-gradient(
    75deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
  border: none;
}
