body {
  background-color: #121219;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.btn-outline-success {
  color: #fff;
  border-color: #9933ff;
  background-color: #9933ff;
}

.btn-outline-success:hover {
  background-color: #782ac5;
  border-color: #9933ff;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.img-container {
  columns: 4;
}

@media only screen and (max-width: 768px) {
  .img-container {
    columns: 2;
  }
}

@media only screen and (max-width: 576px) {
  .img-container {
    columns: 1;
  }
}

.col {
  margin-bottom: 1em;
}

hr {
  color: #030303;
  height: 10px;
  max-width: 300px;
}

.modal-title {
  background-color: transparent;
  color: #fff;
}

.modal-header {
  background-image: linear-gradient(
    75deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
}

.modal-footer {
  background-color: rgb(197, 197, 197);
  justify-content: center;
}

.dismiss-btn {
  margin-left: 8px;
}

.url-btn:hover {
  background-color: #782ac5;
}

.url-title {
  font-size: 1em;
  margin: 0 1em;
}

.btn-info {
  color: #fff;
  background-image: linear-gradient(
    75deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );
  border: none;
}

.card {
  max-width: 600px;
}

.hide {
  display: none;
}
