body {
  background-color: #121219;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

span {
  background-color: #9933ff !important;
}

span:hover {
  cursor: pointer;
}

.img-container {
  columns: 4;
}

.col {
  margin-bottom: 1em;
}

hr {
  color: #030303;
  height: 10px;
  max-width: 300px;
}
